<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>
<body>
  <section class="container">
    <div class="row nav">
        <div class="button-back col s2">
          <a href="../index.html"><i class="large material-icons">chevron_left</i></a>
        </div>
        <div class="signUp-text cols4 offset-s8">
          <h5>Sign Up</h>
          <h6>Join now for free ride credit</h6>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s5">
      <select>
        <option value="México" disabled selected>México</option>
        <option value="Chile">Chile</option>
        <option value="Colombia">Colombia</option>
        <option value="Estados Unidos">Estados Unidos</option>
      </select>
      <label></label>
    </div>
        <div class="input-field col s7">
          <input id="phone-input" type="tel" class="validate" value="">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <h6>We'll send a text to verify your phone</h6>
      </div>
      <div class=" row next">
        <div class="col s12">
          <a class="btn-large col s12" id="next"href="code.html" >Next</a>
        </div>
      </div>
  </section>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
