<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>
<body>
  <section class="container">
    <div class="row nav">
        <div class="button-back col s2">
          <a href="verify.html"><i class="large material-icons">chevron_left</i></a>
        </div>
        <div class="signUp-text cols4 offset-s8">
          <h5>Sign Up</h>
          <h6>Join now for free ride credit</h6>
        </div>
      </div>
      <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
    </div>
    </form>
</div>
<div class="row">
  <form class="col s12">
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
  </form>
</div>
<div class="row">
  <form class="col s10 offset-s1" action="#">
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">I agree to Lyft's <a href="">Therms of service</a>  </label>
    </p>
</div>
<div class="row">
  <div class="row next-code">
    <div class="col s12">
      <a class="btn-large disabled col s12">Next</a>
    </div>
</div>





  </section>




  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
